streamlit
speechrecognition
pydub
streamlit-mic-recorder
streamlit-webrtc
openai-whisper
soundfile
numpy
fastapi
uvicorn
python-multipart
vosk
yt-dlp
ffmpeg-python


openai
tiktoken
streamlit
python-dotenv
reportlab
requests
ollama

